<!doctype html>
<html>
    <head>
        <style>
            .error{
                color: red;
           }
        </style>
        <title>{{title}}</title>
    </head>
<body>
    <nav>
        <a href="/login">Login</a> |
        <a href="/">Home</a> |
        <a href="/blog">Blog page</a> |
        <a href="/newpost">New blog</a> |
        <a href="/logout">Logout</a>
    </nav>
    
    <h1><p style="text-align:center;">{{title}}</p></h1>
    {% with messages = get_flashed_messages(with_categories = True) %}
        <ul>
            {% for category, message in messages %}
            <li class = "{{category}}">{{message}}</li>
            {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>


